---
layout: page
title: ANR MultiTrans
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">MultiTrans</h1>
          <p class="animated fadeInUp">Gradual Multi Transfer Learning for Safe Autonomous Driving</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About the project</h2>
            <p>In MultiTrans project, we propose to tackle autonomous driving algorithms development and deployment jointly.</p>
          </div>
          <p>The idea is to enable data, experience and knowledge to be transferable across the different systems (simulation, robotic models, and real-word cars), thus potentially accelerating the rate an embedded intelligent system can gradually learn to operate at each deployment stage. Existing autonomous vehicles are able to learn how to react and operate in known domains autonomously but research is needed to help these systems during the perception stage, allowing them to be operational and safer in a wider range of situations. MultiTrans proposes to address this issue by developing an intermediate environment that allows to deploy algorithms in a physical world model, by re-creating more realistic use cases that would contribute to a better and faster transfer of perception algorithms to and from a real autonomous vehicle test-bed and between multiple domains.</p>
          
		  <p class="center-text">
		  <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/about">Learn more</a>
		</p>
          
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img" style="padding-top:100px;">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6"  style="background: rgba(255, 255, 255, 0.85); padding:20px;">
      <h2>ORIGINALITY</h2>
      <p style="color:black;">MultiTrans project proposes to develop an intermediate
environment that allows to deploy algorithms in a physical world model. This additional step will allow to re-create more realistic use cases that would contribute to a better, faster and more frugal transfer of perception algorithms to and from real autonomous vehicle test-beds.</p>
       <p class="center-text">
	  <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/publication">Go to publications</a>
	</p>
    </div>
  </div>
</div>
</section>

<!-- Partners Start -->
<section id="service">
  <div class="container">
    <div class="row">
       <div class="section-title">
        <h2>Partners</h2>
        <p>MultiTrans project is the result of a joint research effort from top academic and industrial experts in the fields of Machine Learning and Autonomous Driving</p>
      </div>
    </div>
   <!-- <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>-->
    
    
<!-- partners Logo Section Start -->
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/partners/partner_INSA.png" alt="INSA">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/partners/partner_LITIS.png" alt="LITIS">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/partners/partner_Valeo.ai.png" alt="Valeo.ai">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/partners/partner_I3S.png" alt="I3S">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/partners/partner_UCA.png" alt="UCA">
            </div>
            <!--<div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/partners/partner_ANR.jpg" alt="Features">
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
      <p class="center-text">
		  <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/partners">Meet the team</a>
		</p>
    
  </div>
  
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-0"  style="background: rgba(255, 255, 255, 0.85); padding:20px;">
      <h2>FUNDING</h2>
      <p style="color:black;">MultiTrans project is funded by the Agence Nationale de la Recherche, the French National Research Agency, under grant reference ANR-21-CE23-0032.</p>
      	 <p class="center-text">
	  <a href="http://anr.fr"><img src="{{ site.baseurl }}/img/logo-anr.png" alt="ANR" style="width:8em;"/></a>
	</p>
      

    </div>
  </div>
</div>
</section>

<!-- 
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->
