---
layout: page
title: Publications
permalink: /publications/
---

{% assign publications = site.publications | sort: "year" | reverse %}

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Publications and presentations</h1>
          <!--<p></p>-->
        </div>
      </div>
    </div>
  </div>
</section>
<section id="publications-journal">
	<div class="container">
		<div class="row">
		      <div class="section-title">
			<h2>Journal articles</h2>
		       </div>
			<!--<p>Coming soon!</p>-->
		      <ol>
			{% for pub in publications %}
			 {% if pub.type == 'journal' %}
			 <li>
			 <div class="pubitem">
			   <div class="pubauthors">
			     {{ pub.authors }}
			   </div>
			   <div class="pub-title">
			     {{ pub.title }}
			   </div>
			   <div class="pubpublication">
			     {{ pub.publication }}, {{pub.pubdate}}, {{pub.year}}.
			   </div>
			 </div>
			 <div class="publinks">
				 {% if pub.code_url %}
				 <a href="{{ pub.code_url}}"><i class="far fa-file-pdf"></i> Code</a>&nbsp;&nbsp;
				 {% endif %}
				 {% if pub.paper_url %}
				 <a href="{{ pub.paper_url}}"><i class="far fa-file-pdf"></i> Paper</a>&nbsp;&nbsp;
				 {% endif %}
				 {% if pub.video %}
				 <a href="{{ pub.video}}"><i class="far fa-file-pdf"></i> Video</a>&nbsp;&nbsp;
				 {% endif %}
			   <a href="/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
			   {% if pub.slides %}
			     <a href="/{{ pub.slug }}_slides.pdf"><i class="far fa-file-pdf"></i> Slides</a>&nbsp;&nbsp;
			   {% endif %}
			   {% if pub.poster %}
			     <a href="/{{ pub.slug }}_poster.pdf"><i class="far fa-file-pdf"></i> Poster</a>&nbsp;&nbsp;
			   {% endif %}
			 </div>
			 </li>
			 {% endif %}
			{% endfor %}
			</ol>
		    </div>
		</div>
	</div>
</section>
<section id="publications-conference">
	<div class="container">
		<div class="row">
		      <div class="section-title">
			<h2>Conference proceedings</h2>
		      </div>
			<!--<p>Coming soon!</p>-->
		        <ol>
			{% for pub in publications %}
			 {% if pub.type == 'conference' %}
			 <li>
			 <div class="pubitem">
			   <div class="pubauthors">
			     {{ pub.authors }}
			   </div>
			   <div class="pub-title">
			     {{ pub.title }}
			   </div>
			   <div class="pubpublication">
			     {{ pub.venue }}, {{pub.pubdate}}, {{pub.year}}.
			   </div>
			 </div>
			 <div class="publinks">
			 {% if pub.code_url %}
				 <a href="{{ pub.code_url}}"><i class="far fa-file-pdf"></i> Code</a>&nbsp;&nbsp;
				 {% endif %}
				 {% if pub.paper_url %}
				 <a href="{{ pub.paper_url}}"><i class="far fa-file-pdf"></i> Paper</a>&nbsp;&nbsp;
				 {% endif %}
				 {% if pub.video %}
				 <a href="{{ pub.video}}"><i class="far fa-file-pdf"></i> Video</a>&nbsp;&nbsp;
				 {% endif %}
			   <a href="/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
			   {% if pub.slides %}
			     <a href="/{{ pub.slug }}_slides.pdf"><i class="far fa-file-pdf"></i> Slides</a>&nbsp;&nbsp;
			   {% endif %}
			   {% if pub.poster %}
			     <a href="/{{ pub.slug }}_poster.pdf"><i class="far fa-file-pdf"></i> Poster</a>&nbsp;&nbsp;
			   {% endif %}
			 </div>
			 </li>
			 {% endif %}
			{% endfor %}
			</ol>
		    </div>
		</div>
	</div>
</section>
<section id="publications-presentations">
	<div class="container">
		<div class="row">
		      <div class="section-title">
			<h2>Presentations</h2>
		      </div>
			<p>Coming soon!</p>
			<!--
		      <ol>
			{% for pub in publications %}
			 {% if pub.type == 'presentation' %}
			 <li>
			 <div class="pubitem">
			   <div class="pubauthors">
			     {{ pub.authors }}
			   </div>
			   <div class="pub-title">
			     {{ pub.title }}
			   </div>
			   <div class="pubpublication">
			     {{ pub.publication }}, {{pub.pubdate}}, {{pub.location}}, {{pub.year}}.
			   </div>
			 </div>
			 <div class="publinks">
			   <a href="/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> Slides</a>&nbsp;&nbsp;
			 </div>
			 </li>
			 {% endif %}
			{% endfor %}
			</ol>
			-->
		    </div>
		</div>
	</div>
</section>

