<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--<div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
          </ul>
        </div>-->
        <p>MultiTrans project (reference ANR-21-CE23-0032) is funded by the Agence Nationale de la Recherche <a href="https://anr.fr"><img src="{{ site.baseurl }}/img/logo-anr.png" style="vertical-align: baseline; width: 3em;"/></a></p>
      </div>
    </div>
  </div>
</footer>
